/* Global set */
:root{
    /* Color */
    --color-white:#ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    /* Font */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --wieght-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}


/* Universal tags */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    margin:0;

}

a{
    text-decoration: none;
    color: var(--color-white);
}
ul{
    list-style: none;
    padding-left: 0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/* Typography */
h1{
    font-weight: var(--weight-bold);
    font-size: var(--font-large);
    color: var(--color-black);
    margin: 16px 0px;
    
}
h2{
    font-size: var(--font-medium);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}
h3{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}
p{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(242, 97, 67); */
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark{
    background-color: var(--color-dark-pink);
    padding: 8;
}

.navbar__menu{
    display: flex;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    
}

.navbar__menu__item:hover{
    border: 1px solid white;
    border-radius: var(--size-border-radius);
}

/* Home */
#home{
    background: url(../img/gradient-blue-linear-red-1920x1080-c2-00bfff-fa8072-a-0-f-14.svg);
    padding: 40px;
    text-align: center;
    max-width: 100%;
    padding-top: 120px;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title,
.home__description{
    color: var(--color-white);
}

.home__contact{
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    color: var(--color-white);
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

section{
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container{
    margin: auto;
    max-width: 1200px;
}

/* About */
#about h1{
    color: black;
}
#about p{
    color: black;
}
.about__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}


.major__icon{
    width: 170px;
    height: 170px;
    background-color: rgb(86, 186, 183);
    font-size: 70px;
    line-height: 170px;
    margin: auto;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    color: white;
}

.major__icon i{
    transition: var(--animation-duration)
}

.major__icon:hover{
    color: rgb(19, 48, 85);
    transform: rotate(-30deg); 
}

.major__title,
.major__description{
    font-size: var(--font-small);
}

/* Skill */

#skills{
    background-color: rgb(19, 48, 85);
}

.section__container h1,h2, p{
    color: var(--color-white);
}

.skillset{
    display: flex;
    background-color: rgb(196, 196, 196);
    color: var(--color-white);
    margin: 20px 0;
}

.skillset__title{
    color: white;
}

.skillset__left{
    flex-basis: 60%;
    padding: 20px 40px;
    background-color: rgb(145, 145, 145);

}

.skill__value {
    height: 3px;
    background-color: var(--color-orange);
  }

.skill__description{
    display: flex;
    justify-content: space-between;

}

.skill {
    margin-bottom: 32px;
}

.skill__bar{
    height: 3px;
    background-color: var(--color-white);
}

.skillset__right{
    flex-basis: 40%;
}
.tools{
    background-color: #bdbdbd;
}

.tools,
.etc{
    padding: 20px;
}

/* Work */

.work__categories{
    margin: 40px;
}

.category__btn{
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover{
    background-color: rgb(242, 97, 67);
    color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count{
    opacity: 1;
    top: 0;
}

.category__count{
    background-color: rgb(86, 186, 183);
    color: var(--color-white);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    position: relative;
    width:280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__img{
    max-width: 100%;
    max-height: 100%;
}

.project__description{
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description{
    transform: translateY(0px);
    opacity: 0.8;
}

.project__description h3{
    color: var(--color-white);
}

.project__description h3:after{
    content: '';
    width: 25px;
    position: relative;
    display: block;
    height: 2px;
    margin-top: 8px;
    margin-left: -12px;;
    background-color: var(--color-dark-white);
}

/* contact */
#contact{
    background-color: rgb(19, 48, 85);
    max-width: 100%;
}

.contact__title,
.contact__email,
.contact__rights{
    color: var(--color-white);
}

.contact__title{
    margin: 32px 0;
}

.contact__links{
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover{
    transform: scale(1.1);
    color: var(--color-yellow)
}

.navbar__toggle-btn{
    position: absolute;
    right: 38px;
    top: 24px;
    font-size: 24px;
    color: var(--color-white);
    display: none;    
}

/* Arrow up */
.arrow-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    color: pink;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in;
}

.arrow-up.visible{
    opacity: 1;
    pointer-events: auto;
}

/* For below 768px screen width */
/* 최소한의 정보/차이점만 미디어로 제어 */
@media screen and (max-width: 768px){
    .navbar__toggle-btn{
        display: block;
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .about__majors{
        flex-direction: column;
    }

    .major{
        margin-bottom: 38px;
    }

    .skillset{
        flex-direction: column;
    }

    .project{
        flex-grow: 1;
    }
}